<div id="NAGLOWEK">
    <nav>
        <div id="LOGO">
            <img src="~/images/H-05.png" alt="Logo">
        </div>
        <div id="MENU">
            <div id="TITLE">
                <img src="~/images/Title.png" alt="Złote Lwy">
            </div>
            <div class="PRZYCISK">Statystki</div>
            <div class="PRZYCISK">Gracze</div>
        </div>
    </nav>
</div>