<div class="WYKRES">
    Diamenty
    <div id="diamonds_div" style="width: 100%; height: 300px;"></div>
</div>
<div class="WYKRES">
    Przemierzony dystans
    <div id="move_div" style="width: 100%; height: 300px;"></div>
</div>
<div class="WYKRES">
    Czas gry w godzinach
    <div id="playtime_div" style="width: 100%; height: 300px;"></div>
</div>